.footer {
   padding-top: 31px;
   background: #252525;
}

.contacts--footer {
   display: inline-flex;
   width: 100%;
   align-items: center;
   margin-bottom: 26px;

   h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      padding: 0 9px 0 11px;
   }
}

.contacts-button {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.logo,
.contacts__phone,
.contacts__wa {
   img {
      display: block;
      height: auto;
      min-width: 100%;
   }
}

.contacts-container--footer {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.button-gradient {
   color: #fff;
   line-height: 22px;
   font-weight: bold;
   border-radius: 10px;
   border-style: none;
   background: linear-gradient(116.9deg, #3E3DD1 -2.53%, #DE1DB1 22.41%, #FC2976 65.78%, #FC7300 101.57%);
}


.contacts-button--footer {
   width: 100%;

   button {
      cursor: pointer;
      padding: 18px 0;
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #FFFFFF;
      background: linear-gradient(73.01deg, #DE1DB1 2.27%, #FC2976 50.61%, #FC7300 97.04%);
   }
}

.info--footer {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: flex-start;
   align-items: flex-start;
}

.info__mail,
.info__insta {
   width: 60%;
   display: flex;
}

.mail-item,
.insta-item {
   display: inline-flex;
   align-items: center;
   justify-content: flex-start;

   h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
   }
}

.insta-item__right--footer {

   h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
   }

}

.mail-item--footer {
   display: inline-flex;
   align-items: center;
   justify-content: flex-start;

   h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
   }
}

.info__mail {
   margin-bottom: 24px;
}

.insta-item__left,
.mail-item__left {
   width: 20%;
   height: 100%;
   margin-right: 10px;
   display: flex;
   align-items: flex-start;

   img {
      display: block;
      height: auto;
      min-width: 100%;
   }
}

.insta-item__right {
   h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
   }
}

.header__button-container--footer {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;

   button {
      cursor: pointer;
      padding: 26px 60px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
   }
}

.contacts__number--footer {

   a {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
   }
}